/*stylesheet*/

body {
	background-color:  #702632 ;
	color: #000;
	font-size:  16px;
	font-family: 'Cardo', serif;
	line-height: 1.7;
	background:  url('../Images/world.jpg');
	background-size:  cover;
	background-repeat: no-repeat;
}

#wrapper {
	margin:  2em auto;
	max-width: 950px;
	padding:  0 2em;
}

.article {
	background-color: #fff;
	padding:  20px 0; 
	background-color:  #fff;
}

img {
	display:  block;
	width:  100%;
	height:  auto;
	margin:  2em 0;
}

h1, p{
	margin-left:  20px;
	margin-right:  20px;
}

p.byline {
	color: #666;
	font-size: 14px;
}

h1{
    font-family: 'Vollkorn', serif;
    font-weight: 600;
	margin-top:  0;
}

 